<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="hover-design.css">

    <title>Medic-M</title>
    
    <!--Import .CSS file for homepage-->
    <link rel="stylesheet" href="../View/style/homepageStyle.css">






    <!--Font no 1-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,100&display=swap" rel="stylesheet">  </head>
    
    <!--Font no 2-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap" rel="stylesheet">
    
    <!--Font no 3-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">

    <!--Font no 4-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <!--Font no 5-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


  <body style="background-color: #0000000a; scroll-behavior: smooth;">
    <!-- menubar start-->
    <section >
      <table
        border="0"
        width="100%"
        style="background-color: #0a9780; position: fixed;"
      >
        <tr>
          <td>
            <table border="0" width="90%" align="center" cellpadding="3">
              <tr>
                <td>
                  <img
                    src="../View/image/logo.png"
                    alt="logo"
                    height="40px"
                    width="50px"
                    style="float: left; margin-top: -3px"
                  />
                  <font
                    
                    size="6"
                    color="black"
                    style="
                      text-align: center;
                      color: #eeff53;
                      font-family: Arial, Helvetica, sans-serif;
                    "
                  >
                    <b> &nbsp;Medic- M </br>
                  </font>
                </td>

                <td width="35%"></td>
                <td>
                  <a href="#"> <font size="5px" color="#fff">Home </font> </a>
                </td>

                <td>
                  <a href="#l3" style="text-decoration: none"><font color="#fff">About Us </font></a>
                </td>
                
                <td>
                  <a href="#l4" style="text-decoration: none"><font color="#fff">Contact Us </font></a>
                </td>
                
                <td>
                  <form action="../Controller/homeprocess.php" method="post">
                    <input type="submit" name="log" value="Log In/Sign In" style="
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-left:15px;
                        padding-right:15px;
                        background-color: #2ad8b2;
                        text-align: center;
                        border-radius: 20px;
                        border:0px;
                      "/>
                </form>
            
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </section>
    <!-- menubar end-->
    

    <!-- home start-->
    <!-- layer1 start-->
  <section>
      <table width="100%" border="0">
        <tr>
          <td>
            <table width="95%" border="0" align="center" cellpadding="25px">
              <tr>
                <td>
                  <h1><font style="color:#6e6e6e" face="Times New Roman" size="8">Not just a pharmacy,</font></h1>
                  <h1>
                    <pre><font style="color:#4b4b4b" face="Times New Roman" size="7">But a family: <span style="font-family:'Times New Roman', Times, serif; color: #2ad8b2;"><i>Medic - M</i></span></font></pre>
                  </h1>
                  <h6 class ="layer1_details" size="4"
                    >The concept of medicine home delivery has been taken to a new
                    level by the Medic-M online pharmacy. We ensure to provide the
                    best quality medicines door to door in a very short time. All the
                    products we provide are three layer verified. So, let's
                    start a new journey with<span style="color: #169c7f; font-size: 20px"><b><i> Medic-M</i></b></span>.
                  </h6>
  
                  <!--<hr />-->
                </td>
  
                <td width="200">
                  <img
                    src="../View/image/back.svg"
                    height="440px"
                    style="padding-top: 70px"
                  />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </section>
  <!-- layer1 end-->

<hr>
  
<!-- layer2 start-->
<section>
    <table width="100%" >
        <tr><td>
        <!--<br><br><br>-->
        <table width="85%" border="0" align="center" cellpadding="25px">
        <tr align="center">
          <td colspan="3"> 
            <font size="6" face='Noto Serif Display', serif><b> Quality Services</b> </font> <br>
            <hr align="center" width="60%" color="#6CB3BB">
            <font size="3" face="Bell MT" color="#6CB3BB"><b> What We Provide </b></font> <br>
          </td>
        </tr>
        <tr align="center">
        <td width="33%">
            <img src="../View/image/consult.svg" width="50%"> <br><br>
            <font size="5" color="#6CB3BB"><b> Medical Consultation </b></font> <br><br>
            <font size="3" face="Bell MT" color="#191970"><b> You will get all our specialist doctors under one roof top</b></font>
        </td>
        <td width="33%">
            <img src="../View/image/medicine.svg" width="50%"> <br><br><br>
            <font size="5" color="#6CB3BB"><b>Certified Medicines </b></font> <br><br><br>
            <font size="3" face="Bell MT" color="#191970"><b> All of our medicines are officially certified by</b><span style="color: red"><b> FDA </b></span></font>
        </td>
        <td width="33%">
            <img src="../View/image/delivery.svg" width="50%"> <br><br>
            <font size="5" color="#6CB3BB"><b> Emergency Delivery </b></font> <br><br>
            <font size="3" face="Bell MT" color="#191970"><b> We are ensuring you to deliver your products within 24 hours of your order.</b> </font>
        </td>
        
        </tr>
        </table>
        <br><br><br><br>
        </td></tr>
    <table>
</section>

<!-- layer2 end-->
<hr>

<!-- layer3 start-->
<section id="l3">
   <br><br><br><br>
    <table width="100%" >
        <tr><td>
        
        <table width="85%" border="0" align="center" cellpadding="25px">
        <tr align="center">
        <td colspan="4"> 
            <font size="6" face='Noto Serif Display', serif style=" color:#000000"><b> About Us </b></font> <br>
            <hr align="center" width="60%" color="#e22071">
            <font size="3" face="Bell MT" style=" color:#f00f6d"><b> TEAM_MATRIX </b></font> <br>
          </td>
        </tr>
        <tr align="center">
        
          <td width="25%">
           <a href="../View/profilecard_nkp.html" style="text-decoration: none;"> <img src="../View/image/nkp.png" width="65%" style="border-radius: 10px; "> <br><br>
            <font size="5" face="Arial" color="#e22071"><b> Niloy Kanti Paul </b></font> <br>
            <font size="2" face="Cambria">  BSc. CSE in American International University-Bangladesh. </font>
        </a>
      </td>

        <td width="25%">
          <a href="../View/profilecard_kb.html" style="text-decoration: none;"><img src="../View/image/kaushik.png" width="60% " style="border-radius: 10px; "> <br><br>
            <font size="5" face="Arial" color="#e22071"><b> Kaushik Biswas </b></font> <br>
            <font size="2" face="Cambria">  BSc. CSE in American International University-Bangladesh.  </font>
        </a> </td>
        <td width="25%">
          <a href="../View/profilecard_dipa.html" style="text-decoration: none;"><img src="../View/image/dipa.jpg" width="65% " style="border-radius: 10px; "> <br><br>
            <font size="5" face="Arial" color="#e22071"><b> Dipanwita Saha </b></font> <br>
            <font size="2" face="Cambria">  BSc. CSE in American International University-Bangladesh. </font>
        </td>
        
        
        </tr>
        </table>
        
        </td></tr>
    </table>
    <br><br>
    <hr>
    <br><br>
</section>


<!-- layer3 end-->

<!-- layer4 start-->

<section id="l4">
  <br><br><br><br>
  <table border="0" width="80%" align="center" >
    <tr align="center">
      <td colspan="2">
        <font size="6" face='Noto Serif Display', serif style=" color:#000000"><b> Contact Us </b></font> <br>
        <hr align="center" width="60%" color=#0eb165><br><br>
      </td>
    </tr>
    <tr align="center">
     
      <td>
    <table border="0" width="100%"  align="center" style="background-color: #d3e7dd; border-radius: 20px; padding: 25px;">
    <!--<tr>
        <td>
          <h1 style="text-align:center;">Sign Up!</h1>
		      <hr>
        </td>
    </tr>-->

<tr><td style="text-align: center;">
  <br><br>
		<form action="#" method="post">
		<font size="3px">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;</font><input align="center" style="border:0px;padding: 5px; border-radius: 8px;font-size: 16px;font-family: 'Times New Roman', Times, serif;" type="text" id="name" name="name" style="border-radius: 5px;">
		</td></tr>

    <tr><td style="text-align: center;">
      <font size="3px">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;</font><input align="center" style="padding: 5px; border:0px; border-radius: 8px;font-size: 16px;font-family: 'Times New Roman', Times, serif;" type="email" id="em" name="em">
      </td></tr>

        <tr><td style="text-align: center;"><br><br>
          <font size="4px">Please Type your messege:<hr width="60%" align="center" color="green"></font><br><textarea align="center" style="resize: none; border:0px;padding: 5px; border-radius: 8px;font-size: 16px;font-family: 'Times New Roman', Times, serif;" name="address" rows="3" cols="60">
			</textarea><br><br>
			<input type="submit" value="Submit" name="btnSave" style="padding-top: 5px;padding-bottom: 5px;padding-left: 20px;padding-right: 20px; border-radius: 10px; background-color: #6ea89f; color: #ffffff; border:0px">
		</form>
      </td>



      
    </tr>
      
      
</table>
<br><br>

</td>
<td width="80%">
  <img
  src="../View/image/contact.svg"
  alt="logo"
  width="100%"
  style="padding-bottom: 50px"
/>
</td>
</tr>
  </table>
</section>

<!-- layer4 end-->


<!-- layer5 start-->
<section>
    <table border="0" width="100%" style="background-color: #434257;">
        <tr>
             <td>
                 <table border="0" width="85%"   align="center" >
                 
                 <tr>
                     <td width="33%" align="center">
                        <table border="0" width="100%" >
                             <tr>
                                 <td align="center" >
                                     <img src="../View/image/call.png" alt="" width="40px">
                                     <br/>  <br/> 
                                     <font style="color: rgb(134, 235, 235);" size="5"  face='Noto Serif Display', serif>
                                     Phone No.
                                     </font>
                                     <p>
                                       <font color="#c2c0c3" size="3" face="arial">
                                         +88 0178 7700037
                                      </font>
                                     </p>
                                 </td>
                             </tr>
                        </table>
                     </td>
                     <td width="33%" align="center">
                        <table border="0" width="100%" >
                             <tr>
                                 <td align="center" >
                                     <img src="../View/image/mail.png" alt="" width="40px">
                                     <br/>  <br/> 
                                     <font style="color: rgb(134, 235, 235);" size="5"  face='Noto Serif Display', serif>
                                     Email
                                     </font>
                                     <p>
                                       <font color="#c2c0c3" size="3" face="arial">
                                         niloykantipaul@gmail.com
                                      </font>
                                     </p>
                                 </td>
                             </tr>
                        </table>
                     </td>

                     <td width="33%" align="center">
                        <table border="0" width="100%" cellpadding="30" cellspacing="0">
                             <tr>
                                 <td align="center" >
                                     <img src="../View/image/address.png" alt="" width="40px">
                                     <br/>  <br/> 
                                     <font style="color: rgb(134, 235, 235);" size="5"  face='Noto Serif Display', serif>
                                     Address
                                     </font>
                                     <p>
                                       <font color="#c2c0c3" size="3" face="arial">
                                         American International University-Bangladesh
                                      </font>
                                     </p>
                                 </td>
                             </tr>
                        </table>
                     </td>
            

                 </tr>
                 <tr>
                     <td colspan="3">
                         <hr>
                     </td>
                 </tr>
                 <tr>
                     <td colspan="3" height="70">
                         <table border="0" width="30%" align="center" style="padding-top: 20px; padding-bottom: 20px;">
                             
                             <tr>
                                  <td width="25%">
                                      <table border="0" width="50" align="center"  height="50"  style="border-radius: 10px; background-color: rgb(121, 207, 207);">
                                          <tr>
                                              <td align="center" >
                                                  <a href="">
                                                    <img src="../View/image/facebook.png" alt="" width="40px" style="margin-top: 3px; margin-left: 3px;margin-right: 3px;">
                                                  </a>
                                              </td>
                                          </tr>
                                      
                                      </table>
                                  </td>
                                  <td width="25%">
                                    <table border="0" width="50" align="center"  height="50" bgcolor="#f3971b" style="border-radius: 10px; background-color: rgb(121, 207, 207);">
                                        <tr>
                                            <td align="center" >
                                                <a href="">
                                                  <img src="../View/image/linkedin.png" alt="" width="40px" style="margin-top: 3px; margin-left: 3px;margin-right: 3px;">
                                                </a>
                                            </td>
                                        </tr>
                                    
                                    </table>
                                </td>
                                <td width="25%">
                                  <table border="0" width="50" align="center"  height="50" bgcolor="#f3971b" style="border-radius: 10px; background-color: rgb(121, 207, 207);">
                                      <tr>
                                          <td align="center" >
                                              <a href="">
                                                <img src="../View/image/twitter.png" alt="" width="40px" style="margin-top: 3px; margin-left: 3px;margin-right: 3px;">
                                              </a>
                                          </td>
                                      </tr>
                                  
                                  </table>
                              </td>
                              <td width="25%">
                                <table border="0" width="50" align="center"  height="50" bgcolor="#f3971b" style="border-radius: 10px; background-color: rgb(121, 207, 207);">
                                    <tr>
                                        <td align="center" >
                                            <a href="">
                                              <img src="../View/image/youtube.png" alt="" width="40px" style="margin-top: 3px; margin-left: 3px;margin-right: 3px;">
                                            </a>
                                        </td>
                                    </tr>
                                
                                </table>
                            </td>
                             </tr>
                         </table>
                     </td>
                 </tr>
                
                 </table>
            </td>
        </tr>
      </table>

    </section>


  <section>
    <table width="100%" style="background-color: black;" cellpadding="10" >
      <tr >
        <table width="100%" style="background-color: black;" cellpadding="10" >
          <tr>
            <td width="0%">
              <img
                src="../View/image//logo.png"
                alt="logo"
                height="40px"
                width="50px"
                style="float: left; margin-top: -3px"
              />
            </td>

            <td width="70%">
              <font size="4" face="Arial" color="#078686"><b>Medic-M</b></font> <br>
              <font size="2" face="Times New Roman" style="color:#6e7070"><b>Feel better, Serve better</b></font>
            </td>

            <td width="90%" style=" text-align: right;" >      
              <font size="2" style="color: rgb(212, 184, 181); font-family: Arial, Helvetica, sans-serif;">
                ALL RIGHTS RESERVED BY © TEAM_MATRIX
              </font><br>
              <font size="2" style="color: rgb(212, 184, 181); font-family: Arial, Helvetica, sans-serif;">© 2022 Medic-M</font>
            </td>
          </tr>
        </table>
      </tr>
    </table>
  </section>
<!-- layer5 end-->







    <!-- home end-->
  </body>
</html>
