<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medic-M</title>
    <link rel="stylesheet" href="profilecard.css" />
  </head>
  <body>
    <h1 id="title">Profile Card</h1>
<br><br><br>
    <table align="center" cellspacing="0">
      <tr>
        <td id="tdimage" align="right" >
         <section id="coverl"><img src="../View/image/nkp.png" alt="" id="profileimage" /></section> 
        </td>
        <td id="tddetail" valign="top">
         <section id="coverr">
            <h2 id="subtitle">Niloy Kanti Paul</h2>
          <h3 id="codename">Code Name: Devil</h3>
          <address> 
            Bachelor of Science in Computer Science & Engineering <br>
            American International University-Bangladesh.
          </address>
          <br>
          <p>
              <h3 id="codename">Contact Me:</h3>
              Email:   <a id="mailsend" href="mailto:niloykantipaul.aiub@gmail.com" title="Send me an Email">niloykantipaul.aiub@gmail.com</a>
         <br>Mobile Number: <span id="mailsend">01787700037</span> 
         <br>Facebook Profile: <a id="mailsend" href="https://www.facebook.com/niloypaul.nkp/" target="_blank" title="Go To FaceBook">Niloy Paul</a>
         <br>GitHub Profile: <a id="mailsend" href="https://github.com/NILOY-PAUL-2020" target="_blank" title="Go To GitHub">NILOY-PAUL-2020</a>
         <br>GitLab Profile: <a id="mailsend" href="https://gitlab.com/Niloy_Paul" target="_blank" title="Go To GitLab">Niloy_Paul</a>
         <br>Linkedin Profile: <a id="mailsend" href="https://www.linkedin.com/in/niloy-kanti-paul-5543181ab/" target="_blank" title="Go To Linkedin">Niloy Kanti Paul</a>
        </p></section>
        </td>
      </tr>
    </table>
<table align="center" style="width: 80%;">
    <tr><td>
    <section id="prodetail" >
        <h2><u>Projects :</u></h2>
        <dl>
          <dt>
            <p>
              Student Progress Indicator (SPI) <br />Base Language: C++.
              <br />Preview:
              <a id="mailsend" href="https://youtu.be/W-WLPlPVl8s" target="_blank"  title="Student Progress Indicator (SPI)"
                >https://youtu.be/W-WLPlPVl8s
              </a>
            </p>
          </dt>
       
       
          <dt>
            <p>
              Fest Of Harmony (FOH) <br />Base Language: C++ <br />Preview:
              <a id="mailsend" href="https://youtu.be/b0pqrtICzf8" target="_blank"  title="Fest Of Harmony (FOH)"
                >https://youtu.be/b0pqrtICzf8
              </a>
            </p>
          </dt>
        
        
          <dt>
            <p>
              Remotely Assistant Worker V1.0 (RAW) <br />Base Language: JAVA
              <br />Preview:
              <a id="mailsend" href="https://youtu.be/AuJNB6E_LVY" target="_blank"  title="Remotely Assistant Worker V1.0 (RAW)"
                >https://youtu.be/AuJNB6E_LVY
              </a>
            </p>
          </dt>
          <dt>
            <p>
              Remotely Assistant Worker V2.0 (RAW) <br />Base Language: C#
              <br />Preview:
              <a id="mailsend" href="https://youtu.be/pC-buVJy-WQ" target="_blank"  title="Remotely Assistant Worker V2.0 (RAW)"
                >https://youtu.be/pC-buVJy-WQ
              </a>
            </p>
          </dt>
        </dl>
    </td></tr>
    </table>
    </section>
  </body>
</html>
