<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medic-M</title>
  </head>
  <body style="background-color: #22212e;">
   
    <section
      width="50%"
      style="position: fixed; top: 40px; left:30%; right: 30%"
    >
      <table
        border="0"
        width="100%"
        align="center"
        style="border-radius: 10px; background-color: #7fbff3"
      >
      <tr>
        <td  style="text-align: center">
          <br /><br />
<font style="font-size: 30px; padding-left:10%;">Forgot Password</font> 
 </td>
 <td width="5%" valign="top">
<a href="../../Controller/homeprocess.php"
><img
  src="../View/image/exit.gif"
  alt=""
  style="width: 70px; height: 50px; text-align: right;"
/></a>
          </td>
         </tr>
      <tr>
        <td colspan="2" style="text-align: center">
          <br /><br />
          <form action="../Controller/loginProcess.php" method="post">
            <input
              type="password"
              name="pass"
              value=""
           required
            />
         
        </td>
      </tr>

              <tr>
                <td colspan="2" style="text-align: center">
                  <br /><br />
                  
                    <input
                      type="submit"
                      name="forgotS3"
                      value="Change Password"
                      style="
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-left: 15px;
                        padding-right: 15px;
                        background-color: #469483;
                        text-align: center;
                        border-radius: 20px;
                        border: 0px;
                        font-size: 20px;
                      "
                    />
                  </form>
                  <br><br><br><br><br>
                </td>
              </tr>

             

    
      </table>
    </section>
    <!-- pop up layer-->
  </body>
</html>
