<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../hover-design.css">


    <title>Medic-M</title>
  </head>
  <body align="center" style="background-color: #22212e;">
    <section
      style="
        position: fixed;
        left: 35%;
        top: 10%;
        border-radius: 20px;
        height: 750px;
        width: 550px;
        text-align: center;
        background-color: #c43c4ec0;
      "
    >
      <img
        src="../image/unsuccessful.gif"
        height="300px"
        width="400px"
        style="margin-top: 20px;
        border-radius: 25px;
        "
        align="center"
      />
      <br /><br /><br /><br />
      <h1 style="color: antiquewhite">Opps!</h1>
      <h3 style="color: rgb(191, 238, 213)">
        You are Banned for some reason. Please contact with Admin for further instruction.
      </h3><br />
      <h3 style="color: rgb(26, 22, 70)"> <b>Administrator Email:</b> &nbsp; niloykantipaul.aiub@gmail.com    </h3>

      <br /><br />
      <br /><br />

      <a href="../index.html"
        ><input
          type="submit"
          value="Back to Main Page"
          name="successadlog"
         class="search"
      /></a>
    </section>
    <!-- pop up layer-->
  </body>
</html>
