<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medic-M</title>
  </head>
  <body align="center"  style="background-color: #22212e;">
   
    <section
        style="position:fixed; left: 35%; top: 15%; height: 550px;width: 600px; text-align: center; background-color: #12c06a;"
    >  
    
    <img
    src="../../View/image/successful.gif"
    height="300px"
    width="400px"
    style="margin-top: 20px"
    align="center"
    />
    <br>
    <h1 style="color: antiquewhite;">Thank you</h1>
    <h3 style="color: rgb(191, 238, 213);">You have signed up in the system.</h3>
    <h3 style="color: rgb(191, 238, 213);">Hurray!!! Now you are a member of our system</h3>
    
    <br><br>


    <a href="../../View/index.html" style="text-decoration: none; padding-top:10px ; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; border-radius: 10px; border-width: 0; background-color: #dfc1c3; font-size: 18px;">Next</a>


    </section>
    <!-- pop up layer-->
  </body>
</html>